body{
    background-color: black;
    color: white;
    font-family: 'Spartan', sans-serif;

    animation: colorChange ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

.header{
    background-color: #505050;
    padding: 1em 0em 1em 2em;
    color: white;
    font-size: 50px;
    /* Following prepare for animation setup */
    margin-left: 100%;
    width: 300%;
    overflow: hidden;

    animation: slideLeft ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}

.subtext{
    font-size: 25px;
}

/* Styling for welcome pop up on page load */
.welcome{
    margin: 3em 0em 0em 0em;
    text-align: center;
    font-size: 80px;
    /* Fade in details */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animated{
    opacity: 0;
    background-color: red;
    color: white;
    animation: fadeInUp ease 2s;
    animation-delay: 3.5s;
    animation-iteration-count: 1;
}

.links{
    display: flex;
    justify-content: center;
    width: 100%;
}

.content{
    margin: -3em .5em .5em .5em;
    display: inline-block;
    opacity: 0;
    box-shadow: 10px 10px 5px grey;
    width: 100%;

    animation: fadeInUp ease 1s;
    animation-delay: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.textlead{
    font-size: 40px;
}

.text{
    font-size: 35px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black
}

.content:hover .overlay {
    opacity: .5;
}

.back {
    background-color: red;
    width: 100vw;
}

.secondary {
    background: green;
}

/* Following is all for animation */

@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes colorChange{
    0%{
        background-color: black;
    }

    100%{
        background-color: white;
    }
}

@keyframes slideLeft{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0;
        width: 100%;
    }
}

@keyframes fadeInUp {
    0%{
        transform: translate3d(0, 40px, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}